body {
    font-family: Avenir-Medium,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
    margin:0;
}
img {max-width: 100%;}

/* 
HEADER
- logo
- titel 
*/
header {
    background: url(pattern.svg),linear-gradient(-30deg,#5855b0,#a79cfb);
    color: #002b37;
    padding:4rem;
    height: 66vh; /* ongeveer 2/3 deel van de viewport */
}
header img {
    max-height:32px /* Waarom is dit nodig? */
}
header h1 {
    font-size: 3.5em;
    line-height: 1.2;
    max-width: 42rem; /* zoals op het plaatje */
}
header h1 span {
    color:#fff
}
header p {
    font-size: 1.5em;
    display: none;
}


/* 
MAIN 
- section chat
- iframe
*/
main {

}

/*
CHAT
*/
section#chat {
    margin: -20rem 0 10em 0; /* iets meer zodat het element goed in de header staat */
    display:flex;
    flex-direction: column;
    align-items: center;
}
div.card {
    width:30em;
    height:20vh;
    position: relative;
    transition:.25s .5s; /* transition met delay */
}
div.card img {
    position:absolute;
    left:-1.5em;
    top:-1.5em;
    width:3em;
    z-index:1000
}
div.inner {
    border-radius: .5em;
    box-shadow: 0 0 50px rgb(53 47 122 / 80%);
    position:relative;
    width:100%;
    height:100%;
    transition: transform .25s ease-in-out;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
}
div.inner div { /* div front en div back*/
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #fff;
    border-radius: .5em;
    backface-visibility: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}
div.back {
    transform: rotateY(180deg);
}
div.front {
    background: pink;
}
div.front h2{
    font-size:1.5em;
    font-weight:normal;
}
div.front button {
    /* opacity:0; */
    background-color: #ff445b;
    border:none;
    outline:none;
    color:#fff;
    padding:.5rem .75rem;
    border-radius:.5rem;    
    font-size: 1.5em;
    font-weight: normal;
    box-shadow: 2px 2px 4px rgba(100,100,100,0.6);
    transition: transform .25s ease-in-out;
    animation: wiggle 2.5s infinite;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
    70% { transform: rotate(0deg); }
    75% { transform: rotate(10deg); }
    80% { transform: rotate(-10deg); }    
    85% { transform: rotate(10deg); }
    95% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}
div.front button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px 12px rgba(100,100,100,0.4);
    animation: none;
}

/* 
    flipped class 
    Wordt aangeroepen door javascript
*/
div.card.flipped {
    width:80vw;
    height:24rem;
}
div.card.flipped div.inner {
    transform: rotateY(180deg);
}
.flip{
    transform: rotateY(180deg);
}
.grow {
    width:80vw;
    height:60vh;
}


/* 
*/


main section#chat iframe {
    padding: 0;
    height: 100%;
    width:100%;
    border: none;
    outline: none;
    border-radius: .5em;
}
main section#wij-helpen-met {
    position:relative;
    top:5em;
    padding: 0 4rem;
}
